{
  "openapi": "3.0.3",
  "info": {
    "title": "Anecdotes API",
    "version": "1.0.0",
    "description": "The Anecdotes API provides programmatic access to the Anecdotes GRC platform. Use it to manage frameworks, requirements, risks, controls, policies, evidence, findings, and more.\n\nAuthentication is two-step: create an API key in the Anecdotes platform, exchange it at GET /identity/v1/apikey/exchange for a short-lived JWT (1 hour), then send that JWT as `Authorization: Bearer <token>` on all other calls. A descriptive User-Agent header is required.",
    "contact": {
      "name": "Anecdotes",
      "url": "https://help.anecdotes.ai/api/overview",
      "email": "hello@anecdotes.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.anecdotes.ai",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Anecdotes API reference",
    "url": "https://help.anecdotes.ai/api/overview"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Analysis Rules",
      "description": "**Analysis rules** evaluate evidence table rows for **gaps or warnings**; configure query, scoping, and alert levels, and read **execution results** per instance. [Analysis rules (product)](https://help.anecdotes.ai/product-tour/frameworks/evidence/evidence-monitoring/analysis-rules)"
    },
    {
      "name": "Create Controls",
      "description": "Create one or more **custom controls** in a framework."
    },
    {
      "name": "Create Evidence",
      "description": "Create custom **Evidence Collections**, **attach** JSON/CSV files to a collection, and upload **manual** evidence of any type. Customer-pushed evidence can also carry **IPE** (Information Produced by Entity) — the structured queries that produced the data — supplied inline (`evidence_api_query`) or as a JSON file (`ipe_file`) on create/attach, or added later to an existing collection via the `/ipe` endpoint. IPE can only be written to API (customer-pushed) evidence."
    },
    {
      "name": "Custom Fields",
      "description": "**Custom fields** extend platform resources (including **requirements**) with your own **dropdown**, **multi-select**, or **free-text** values. These endpoints manage the field **definitions** — create one, list them, and read a single definition to discover its **`field_metadata.values`** (the `{option_id: label}` map used when setting dropdown / multi-select values). Field definitions are shared across resource types; scope a field to requirements with **`resource_types: [\"REQUIREMENT\"]`**."
    },
    {
      "name": "Download Evidence",
      "description": "Download **raw** evidence payloads, processed **evidence tables**, combined full-or-raw streams, and latest binary payloads."
    },
    {
      "name": "Findings",
      "description": "**Findings** record compliance gaps and issues, including links to controls, evidence, and policies."
    },
    {
      "name": "Framework",
      "description": "A **framework** in anecdotes is a compliance program built from a formally written standard or regulation (e.g. ISO/IEC 27001, SOC 2, HIPAA, CSA STAR). It is organized into **control categories** and **control titles** with control statements. **API:** list frameworks and export framework data. [Terminology](https://help.anecdotes.ai/product-tour/frameworks/anecdotes-terminology-and-framework-hierarchy)"
    },
    {
      "name": "Policy Manager",
      "description": "**Policy Manager** allows you to create, edit, and manage policies for your organization. List customer-owned policies, library templates, policy versions, and configure approval cycles."
    },
    {
      "name": "Read Controls",
      "description": "List all controls or fetch by framework or id."
    },
    {
      "name": "Read Evidence Metadata",
      "description": "List and retrieve **evidence definitions**, **instance metadata**, and multi-instance **run history**."
    },
    {
      "name": "Requirements",
      "description": "**Requirements** tie **controls** to expected **evidence** and framework scoping. These endpoints cover listing customer requirements, simple **create / read / update / delete** for a single requirement id (`requirement_…`), and reading / updating **custom field** values on requirements."
    },
    {
      "name": "Risk",
      "description": "**Risks** live in **risk registers** in Risk Manager: inherent/residual dimensions, treatment, custom fields, and links to evidence. **API:** create, list (full), get, update. [Risk Manager](https://help.anecdotes.ai/product-tour/risk-manager) · [Getting started](https://help.anecdotes.ai/product-tour/risk-manager/getting-started-risk-management)"
    },
    {
      "name": "Token",
      "description": "Exchange your **API key** for a **short-lived JWT** (1 hour). Send the JWT as `Authorization: Bearer <token>` on all subsequent requests."
    },
    {
      "name": "Update Control Metadata",
      "description": "Update or delete a **custom control**'s name, description, category, and implementation."
    }
  ],
  "paths": {
    "/analysis-rules/v1/analysis-rules": {
      "get": {
        "tags": [
          "Analysis Rules"
        ],
        "summary": "Get Analysis Rules",
        "description": "Gets analysis rules of the specified analysis rules ids if provided, otherwise get all analysis rules instances.\n\nEach rule includes its query definition, alert level, origin, active state, and account scoping configuration. The list is a merge of global (library) rules and customer-specific rules, with customer overrides taking precedence.",
        "operationId": "getAnalysisRules",
        "responses": {
          "200": {
            "description": "List of analysis rule objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisRuleModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Analysis Rules"
        ],
        "summary": "Create Analysis Rule",
        "description": "Creates a new custom analysis rule.\n\nDefine the rule query, alert level, and scoping to control how evidence data is analyzed. The rule will be applied during subsequent evidence collection runs.",
        "operationId": "createAnalysisRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomAnalysisRuleModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Analysis rule created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRuleModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/analysis-rules/v1/analysis-rules/rule_results_by_filter": {
      "get": {
        "tags": [
          "Analysis Rules"
        ],
        "summary": "Get rules and their results",
        "description": "This endpoint returns a list of tuples of rules and evidence instances, including the results of the analysis.",
        "operationId": "getAnalysisRulesResults",
        "parameters": [
          {
            "name": "rule_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AnalysisRuleType"
            },
            "description": "Filter by analysis rule type."
          },
          {
            "name": "rule_state",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AnalysisRuleActiveState"
            },
            "description": "Filter by whether the rule is active or not."
          }
        ],
        "responses": {
          "200": {
            "description": "List of analysis rule result objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisRuleResultModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/framework": {
      "get": {
        "tags": [
          "Framework"
        ],
        "summary": "Get frameworks",
        "description": "Returns a JSON **array** of frameworks in the customer environment. Optional query parameters `limit` and `offset` slice the result; the response body does **not** include a separate total-count or pagination envelope—only the array of framework objects.\n\nEach item includes its ID, name, folder, and metadata. See [Anecdotes terminology and framework hierarchy](https://help.anecdotes.ai/product-tour/frameworks/anecdotes-terminology-and-framework-hierarchy).",
        "operationId": "getFrameworks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Maximum number of frameworks to return per page."
            },
            "description": "Maximum number of frameworks to return per page."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Number of frameworks to skip (for pagination)."
            },
            "description": "Number of frameworks to skip (for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of framework objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Framework unique identifier"
                      },
                      "name": {
                        "type": "string",
                        "description": "Framework name"
                      },
                      "folder_id": {
                        "type": "string",
                        "description": "Parent folder ID"
                      },
                      "description": {
                        "type": "string",
                        "description": "Framework description"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/framework/{framework_id}/download": {
      "get": {
        "tags": [
          "Framework"
        ],
        "summary": "Export a framework",
        "description": "Exports a framework and its controls. Actual **Content-Type** depends on tenant/export configuration—typically structured **JSON** or **CSV** text, or a downloadable file stream.",
        "operationId": "exportFramework",
        "parameters": [
          {
            "name": "framework_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the framework to export."
            },
            "description": "The unique identifier of the framework to export."
          }
        ],
        "responses": {
          "200": {
            "description": "Export payload. Set the `Accept` header according to your integration. The response may be JSON, CSV, or a binary export.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Framework export when returned as JSON."
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV export when returned as comma-separated text."
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary file export when the platform returns a non-text artifact."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/requirement": {
      "get": {
        "tags": [
          "Requirements"
        ],
        "summary": "Get all requirements",
        "description": "Returns requirement objects for the authenticated tenant. Use optional **`limit`** and **`offset`** to page through the catalog (typical page sizes are in the hundreds).\n\nThe response is a **JSON array** of requirement objects, or in some gateways a wrapper object; clients should accept either an **array** or an object containing a **`requirements`** array.\n\nFor one id and the fullest payload (for example **`requirement_scoping_overrides`**), use **`GET /api/v1/requirement/{requirement_id}`**.",
        "operationId": "listRequirements",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of requirements to return in this response."
            },
            "description": "Maximum number of requirements to return in this response."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of requirements to skip before returning results (pagination)."
            },
            "description": "Number of requirements to skip before returning results (pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of **`Requirement`** objects, or a wrapper with a **`requirements`** array.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Requirement"
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "requirements": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Requirement"
                          }
                        }
                      },
                      "additionalProperties": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error — the request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/requirement/": {
      "post": {
        "tags": [
          "Requirements"
        ],
        "summary": "Create a custom requirement",
        "description": "Creates a new **custom** requirement. Link it to **controls** and **frameworks** with optional arrays of prefixed ids (`control_…`, `framework_…`).\n\n**201** response body is often the new **`requirement_id`** string; some responses return a full **`Requirement`** object instead — clients should accept either.",
        "operationId": "createRequirement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequirementCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created — body may be the new **`requirement_*`** id string or a **`Requirement`** object.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "New requirement id"
                    },
                    {
                      "$ref": "#/components/schemas/Requirement"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/requirement/{requirement_id}": {
      "get": {
        "tags": [
          "Requirements"
        ],
        "summary": "Get requirement by id",
        "description": "Returns one requirement. The body may be a single **`Requirement`** object or a **one-element array** — clients should accept both shapes.",
        "operationId": "getRequirementById",
        "responses": {
          "200": {
            "description": "Requirement record.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Requirement"
                    },
                    {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/Requirement"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Requirement not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/requirement/{requirement_id}/": {
      "delete": {
        "tags": [
          "Requirements"
        ],
        "summary": "Delete a requirement",
        "description": "Deletes the requirement identified by **`requirement_id`**.",
        "operationId": "deleteRequirement",
        "responses": {
          "200": {
            "description": "Requirement deleted."
          },
          "204": {
            "description": "Requirement deleted (no body)."
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Requirement not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Requirements"
        ],
        "summary": "Update a requirement",
        "description": "Partial update for a single requirement. Wrap mutable fields under **`requirement`**. Optional **`context`** (e.g. **`control_id`**) may be required for certain scoping updates.\n\nSuccessful responses typically return **200** with the updated resource or an empty body depending on gateway version — re-**GET** the requirement if you need a guaranteed full payload.",
        "operationId": "updateRequirement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequirementUpdateRequestEnvelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requirement updated."
          },
          "201": {
            "description": "Requirement updated (some gateways return **201**)."
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Requirement not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/requirement/{requirement_id}/fields/{field_id}": {
      "patch": {
        "tags": [
          "Requirements"
        ],
        "summary": "Set a custom field value on a requirement",
        "description": "Sets (or clears) the value of one **custom field** on one requirement.\n\nThe **`value`** shape depends on the field type:\n- **Free text** — a plain string, e.g. **`\"True\"`**.\n- **Dropdown** — a single **option id** (a key of the field's **`field_metadata.values`** map), e.g. **`\"option_…\"`** — not the label.\n- **Multi-select** — an **array** of option ids.\n- Send **`null`** to clear the value.\n\nTo turn a desired label (e.g. `Sync-To-Archer` = `True`) into the option id to send, read the field definition via **`GET /custom-fields/v1/fields/{field_id}`** and look up the matching entry in **`field_metadata.values`**.\n\nReturns **204 No Content** on success.",
        "operationId": "setRequirementCustomFieldValue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequirementCustomFieldValueUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Value set (no body)."
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "500": {
            "description": "Internal server error, including when the **`field_id`** does not exist or **`value`** does not match the field type (for example a list sent to a **dropdown** or **free-text** field). Verify the field id via **`GET /custom-fields/v1/fields/{field_id}`** and send a value matching the field type."
          }
        }
      }
    },
    "/api/v1/requirements/fields": {
      "get": {
        "tags": [
          "Requirements"
        ],
        "summary": "Get all requirement custom field values",
        "description": "Returns every **custom field value** set on requirements for the authenticated tenant, as a nested map: **`{ requirement_id: { field_id: { \"value\": … } } }`**.\n\nValues are stored as raw **option ids** for **dropdown** / **multi-select** fields — resolve the human-readable label with **`GET /custom-fields/v1/fields/{field_id}`** (see **`field_metadata.values`**) — and as plain strings for **free-text** fields. Requirements with no value set are omitted; when nothing is set at all the body is an empty object **`{}`**.\n\nThere is **no server-side filter by value**. To find requirements where a field equals a specific value, read this map and filter client-side. Note the path is **plural** (`requirements`), unlike the single-requirement endpoints above.",
        "operationId": "listRequirementCustomFieldValues",
        "responses": {
          "200": {
            "description": "Nested map of requirement id → field id → **`{ \"value\": … }`**. Empty object when no values are set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequirementCustomFieldValues"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/compliance/v1/findings": {
      "get": {
        "tags": [
          "Findings"
        ],
        "summary": "Get all findings",
        "description": "Returns **`findings`** and **`pagination`**. Use **`limit`** and **`offset`** to page results.",
        "operationId": "listFindings",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Maximum number of findings to return in this response."
            },
            "description": "Maximum number of findings to return in this response."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of findings to skip before returning results (pagination)."
            },
            "description": "Number of findings to skip before returning results (pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "Findings and pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Findings"
        ],
        "summary": "Create finding",
        "description": "Creates a finding. Send **`multipart/form-data`** with **`finding_data`** as a JSON string of finding fields.",
        "operationId": "createFinding",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "finding_data"
                ],
                "properties": {
                  "finding_data": {
                    "type": "string",
                    "description": "JSON string of finding fields (e.g. `title`, `description`, `severity`, `status`, `linked_entities`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created finding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Finding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Findings"
        ],
        "summary": "Delete findings",
        "description": "Deletes findings by internal **`id`**. Request body: **`ids`** array. Response: **`deleted_count`**.",
        "operationId": "deleteFindings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Internal finding ids to delete."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindingsDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/compliance/v1/findings/{finding_id}": {
      "get": {
        "tags": [
          "Findings"
        ],
        "summary": "Get finding by id",
        "description": "Returns one finding by **`finding_id`**.",
        "operationId": "getFindingById",
        "responses": {
          "200": {
            "description": "Finding record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Finding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Finding not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Findings"
        ],
        "summary": "Update finding status",
        "description": "Updates a finding. Send fields to change (e.g. **`status`**: `Open`, `In progress`, `Resolved`).",
        "operationId": "patchFinding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Workflow status.",
                    "enum": [
                      "Open",
                      "In progress",
                      "Resolved"
                    ]
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated finding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Finding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Finding not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/controls/control": {
      "post": {
        "tags": [
          "Create Controls"
        ],
        "summary": "Create custom control",
        "description": "Creates a **custom control** in the framework from query parameter **`control_framework`**. Send one object or an array for bulk create; **201** returns the created record(s).",
        "operationId": "createCustomControl",
        "parameters": [
          {
            "name": "control_framework",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Framework id (`framework_…`) the new control belongs to."
            },
            "description": "Framework id (`framework_…`) the new control belongs to."
          },
          {
            "name": "notify",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "Whether to notify the platform UI of the change."
            },
            "description": "Whether to notify the platform UI of the change."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PostCustomControl"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PostCustomControl"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created control object, or array of created controls for bulk requests.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Control"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Control"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid control payload."
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Read Controls"
        ],
        "summary": "Get all controls",
        "description": "Returns every applicable control in the tenant as a JSON **array**. Auditor tokens are scoped to the active audit's frameworks.",
        "operationId": "listControls",
        "responses": {
          "200": {
            "description": "Array of control objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Control"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/controls/control/framework/{framework_id}": {
      "get": {
        "tags": [
          "Read Controls"
        ],
        "summary": "Get controls by framework",
        "description": "Returns all controls in **`framework_id`** as a JSON array.",
        "operationId": "getControlsByFramework",
        "responses": {
          "200": {
            "description": "Array of control objects for the framework.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Control"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden — caller cannot access this framework."
          }
        }
      }
    },
    "/controls/control/read": {
      "post": {
        "tags": [
          "Read Controls"
        ],
        "summary": "Get controls by ids",
        "description": "Returns full control objects for **`controls_ids`** without listing the entire catalog.",
        "operationId": "getControlsByIds",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetControlsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of matching control objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Control"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "One or more controls not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/controls/control/{control_id}": {
      "get": {
        "tags": [
          "Read Controls"
        ],
        "summary": "Get control by id",
        "description": "Returns one control by **`control_id`**. Returns **403** when the caller lacks framework access.",
        "operationId": "getControlById",
        "responses": {
          "200": {
            "description": "Control object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Control"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "403": {
            "description": "Forbidden — caller cannot access this control."
          },
          "404": {
            "description": "Control not found."
          }
        }
      },
      "put": {
        "tags": [
          "Update Control Metadata"
        ],
        "summary": "Update custom control",
        "description": "Updates name, description, category, implementation, and related-control links on a **custom control**.",
        "operationId": "updateCustomControl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCustomControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated control object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Control"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Control not found."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Update Control Metadata"
        ],
        "summary": "Delete custom control",
        "description": "Permanently deletes a **custom control**.",
        "operationId": "deleteCustomControl",
        "responses": {
          "200": {
            "description": "Control deleted."
          },
          "401": {
            "description": "Unauthorized."
          },
          "404": {
            "description": "Control not found."
          }
        }
      }
    },
    "/controls/controls/fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get all control custom field values",
        "description": "Returns all control custom-field values for the tenant as a JSON object.",
        "operationId": "getControlCustomFieldValues",
        "responses": {
          "200": {
            "description": "Custom field values map.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/controls/controls/{control_id}/fields/{field_id}": {
      "patch": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Update control custom field",
        "description": "Sets **`value`** on the given **`field_id`** for **`control_id`**.",
        "operationId": "patchControlCustomField",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchControlCustomFieldValuePayload"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Field updated."
          },
          "401": {
            "description": "Unauthorized."
          },
          "403": {
            "description": "Forbidden — auditors cannot edit custom fields."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields/v1/fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "List custom field definitions",
        "description": "Returns all **custom field definitions** for the authenticated tenant. Use this (or **`GET /custom-fields/v1/fields/{field_id}`**) to discover a field's **`id`** and its **`field_metadata.values`** (the `{option_id: label}` map) before setting a value on a requirement.",
        "operationId": "listCustomFields",
        "responses": {
          "200": {
            "description": "Array of **`CustomField`** definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          }
        }
      },
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Create a custom field definition",
        "description": "Creates a new **custom field definition**. Scope it to requirements with **`resource_types: [\"REQUIREMENT\"]`**. For **dropdown** / **multi-select** fields, define the selectable options under **`field_metadata.values`** as a `{option_id: label}` map.\n\nRequires an **admin** or **manager** role. The **201** response body is the new **`field_…`** id string.",
        "operationId": "createCustomField",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created — the new custom field id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "New custom field id (`field_…`)."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "403": {
            "description": "Forbidden — only an admin or manager can create a custom field."
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields/v1/fields/{field_id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get a custom field definition",
        "description": "Returns a single **custom field definition**, including **`field_metadata.values`** — the `{option_id: label}` map you use to translate a desired label into the **option id** to send when setting a **dropdown** / **multi-select** value on a requirement.",
        "operationId": "getCustomField",
        "responses": {
          "200": {
            "description": "The **`CustomField`** definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "500": {
            "description": "Internal server error, including when the custom field does not exist."
          }
        }
      }
    },
    "/evidence/v1/evidence": {
      "post": {
        "tags": [
          "Create Evidence"
        ],
        "summary": "Create Manual Evidence",
        "description": "Upload any filetype as evidence without the use of an Evidence Collection. This evidence will display as Manual Evidence from within the Evidence Pool.",
        "operationId": "uploadManualEvidence",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "evidence_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload as manual evidence."
                  },
                  "evidence_id": {
                    "type": "string",
                    "description": "The evidence_id to attach the file to. Used when creating a new version of existing manual evidence."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully."
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Invalid arguments."
          }
        }
      },
      "get": {
        "tags": [
          "Read Evidence Metadata"
        ],
        "summary": "Get All Evidence Metadata",
        "description": "Returns all evidence metadata from within the Anecdotes account.",
        "operationId": "getEvidence",
        "responses": {
          "200": {
            "description": "Array of evidence definition objects with metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Evidence_EvidenceDefinition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/evidence/v1/evidence/create": {
      "post": {
        "tags": [
          "Create Evidence"
        ],
        "summary": "Create an Evidence Collection",
        "description": "Create a new API Evidence Collection, used to attach evidence data into using the **Attach Evidence** endpoint. Successful response provides the resulting 'evidence_id'. \n\n**IPE (optional):** you may attach **IPE** (Information Produced by Entity) — the structured queries that produced the data — via `evidence_api_query` (inline JSON-stringified array of query strings) **or** `ipe_file` (a JSON file), but **not both**. IPE is tied to a data collection, so it is stored **only when `evidence_file` is also included** in this request; sending IPE with no `evidence_file` returns `422` (add the data here, or push it later via **Attach Evidence** / **Attach IPE**). IPE is capped at **5000 entries** and **15 MB** — oversized payloads are rejected, never truncated.\n\nFor a step-by-step guide see [How to create & collect API evidence](https://help.anecdotes.ai/integrations-and-data/api-evidence).",
        "operationId": "createEvidenceCollection",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "service_id",
                  "evidence_name"
                ],
                "properties": {
                  "service_id": {
                    "type": "string",
                    "description": "Name the service or plugin for this evidence. Naming different evidences with the same service_id will group them within Anecdotes."
                  },
                  "evidence_name": {
                    "type": "string",
                    "description": "The name of this evidence."
                  },
                  "evidence_help": {
                    "type": "string",
                    "description": "The description of the evidence.",
                    "default": ""
                  },
                  "empty_state": {
                    "type": "string",
                    "description": "Text to display when the evidence has no data.",
                    "default": ""
                  },
                  "is_uar": {
                    "type": "boolean",
                    "description": "Whether this evidence is used for User Access Reviews.",
                    "default": false
                  },
                  "is_sot": {
                    "type": "boolean",
                    "description": "Whether this evidence is a Source of Truth.",
                    "default": false
                  },
                  "evidence_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional evidence file to upload on creation."
                  },
                  "evidence_preview_rules": {
                    "type": "string",
                    "description": "Preview rules for the evidence as a JSON-stringified object."
                  },
                  "evidence_api_query": {
                    "type": "string",
                    "description": "IPE, inline: a JSON-stringified array of structured query strings (HTTP calls, SQL, etc.) that produced this evidence. Provide either this or `ipe_file`, not both. Only stored when `evidence_file` is also uploaded."
                  },
                  "ipe_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "IPE, as a file: a JSON file holding an array of query strings, for very large lists. Provide either this or `evidence_api_query`, not both. Only stored when `evidence_file` is also uploaded."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evidence Collection created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_CreateEvidenceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation Error. Possible causes and body shapes:\n- **Request validation** (e.g. missing `service_id`/`evidence_name`): `ValidationError` (`detail` array).\n- **IPE without data** (IPE supplied but no `evidence_file`): `DetailMessage` (`detail` string).\n- **IPE validation** (both `evidence_api_query` and `ipe_file` supplied; malformed JSON; not an array of strings; more than 5000 entries; payload over 15 MB; non-UTF-8 file): `ErrorResponse` (`error_title`/`error_detail`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Evidence_DetailMessage"
                    },
                    {
                      "$ref": "#/components/schemas/Evidence_ErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_id}": {
      "get": {
        "tags": [
          "Read Evidence Metadata"
        ],
        "summary": "Get Evidence Metadata",
        "description": "Returns evidence metadata of the specified evidence_id.",
        "operationId": "getAnEvidence",
        "parameters": [
          {
            "name": "evidence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the evidence item."
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence definition object with metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_EvidenceDefinition"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Evidence item not found."
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_id}/attach": {
      "post": {
        "tags": [
          "Create Evidence"
        ],
        "summary": "Create Evidence within a Collection",
        "description": "Create JSON or CSV formatted evidence for an existing Evidence Collection. The collection is specified with the `evidence_id` path parameter. Send the file as **multipart/form-data** using the `evidence_file` field.\n\n**IPE (optional):** attach **IPE** (Information Produced by Entity) for this collection via `evidence_api_query` (inline JSON-stringified array of query strings) **or** `ipe_file` (a JSON file), but **not both**. Attaching IPE here **replaces** any IPE previously set on this collection. IPE is capped at **5000 entries** and **15 MB** — oversized payloads are rejected, never truncated.\n\nOnly API (customer-pushed) evidence can be written to; attaching to Anecdotes/connector-collected evidence returns `400`.",
        "operationId": "attachEvidenceToCollection",
        "parameters": [
          {
            "name": "evidence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence_id to attach this collection to."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "evidence_file"
                ],
                "properties": {
                  "evidence_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The evidence file content for this collection. Must be JSON or CSV."
                  },
                  "evidence_api_query": {
                    "type": "string",
                    "description": "IPE, inline: a JSON-stringified array of structured query strings (HTTP calls, SQL, etc.) that produced this evidence. Provide either this or `ipe_file`, not both. Replaces any IPE previously set on this collection."
                  },
                  "ipe_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "IPE, as a file: a JSON file holding an array of query strings, for very large lists. Provide either this or `evidence_api_query`, not both. Replaces any IPE previously set on this collection."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Evidence uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evidence_id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Evidence definition id(s) the data was attached to."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The target evidence is not API (customer-pushed) evidence and cannot be written to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation Error. Possible causes and body shapes:\n- **Request validation** (e.g. missing `evidence_file`): `ValidationError` (`detail` array).\n- **IPE validation** (both `evidence_api_query` and `ipe_file` supplied; malformed JSON; not an array of strings; more than 5000 entries; payload over 15 MB; non-UTF-8 file): `ErrorResponse` (`error_title`/`error_detail`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/Evidence_ErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_id}/latest_raw": {
      "get": {
        "tags": [
          "Download Evidence"
        ],
        "summary": "Get Latest Raw Data",
        "description": "Returns the raw data of the latest evidence instance.",
        "operationId": "getLatestRawData",
        "parameters": [
          {
            "name": "evidence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw data of the latest evidence instance (binary stream).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Evidence instance not found."
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_id}/run_history": {
      "get": {
        "tags": [
          "Read Evidence Metadata"
        ],
        "summary": "Get Evidence Run History",
        "description": "Returns a list of evidence instances for the specified evidence id.",
        "operationId": "getCollectionMultiHistory",
        "parameters": [
          {
            "name": "evidence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence ID to retrieve history for."
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence history with details per instance and history per run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_EvidenceRunHistory"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_instance_id}/download_raw": {
      "get": {
        "tags": [
          "Download Evidence"
        ],
        "summary": "Download Raw Data",
        "description": "Download the **raw** evidence payload for an instance. The response is a **binary stream** (`application/octet-stream`).",
        "operationId": "downloadRawData",
        "parameters": [
          {
            "name": "evidence_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence instance identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw data file download.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Evidence instance not found."
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_instance_id}/full_data": {
      "get": {
        "tags": [
          "Download Evidence"
        ],
        "summary": "Get Evidence Full Data (preview table)",
        "description": "Path segment `full_data` returns the **processed evidence table** (the same logical preview grid as in the platform UI), streamed with `Content-Type: application/octet-stream` (often JSON bytes for the table).",
        "operationId": "getEvidenceFullData",
        "parameters": [
          {
            "name": "evidence_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence instance identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Processed evidence preview table as a streamed binary payload. This is the JSON representation of the table seen in the Anecdotes platform.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Evidence instance not found."
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_instance_id}/fulldata_or_raw": {
      "get": {
        "tags": [
          "Download Evidence"
        ],
        "summary": "Get Full Data Or Raw",
        "description": "Returns the full data for evidence if exists, else the raw file data.",
        "operationId": "getEvidenceFullDataOrRaw",
        "parameters": [
          {
            "name": "evidence_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The evidence instance identifier (from GET /evidence/v1/evidence)."
            },
            "description": "The evidence instance identifier (from GET /evidence/v1/evidence)."
          }
        ],
        "responses": {
          "200": {
            "description": "Full processed evidence data if available, otherwise the raw file data. The response is a streamed binary payload.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_instance_id}/ipe": {
      "post": {
        "tags": [
          "Create Evidence"
        ],
        "summary": "Add IPE to a Collection",
        "description": "Add or **replace** IPE (Information Produced by Entity — the structured queries that produced the data) on an evidence collection that was **already pushed**, identified by its `evidence_instance_id`. Use this to add IPE to data sent before IPE was supported, or to update it later.\n\nGet the `evidence_instance_id` from `GET /evidence/v1/evidence/{evidence_id}/run_history`.\n\nSupply IPE via `evidence_api_query` (inline JSON-stringified array of query strings) **or** `ipe_file` (a JSON file), but **not both**, capped at **5000 entries** and **15 MB** (oversized is rejected, never truncated). Only API (customer-pushed) evidence can be written to — setting IPE on Anecdotes/connector-collected evidence is rejected.",
        "operationId": "attachEvidenceIpe",
        "parameters": [
          {
            "name": "evidence_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The evidence_instance_id of the collection to attach IPE to (from GET /evidence/v1/evidence/{evidence_id}/run_history)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "evidence_api_query": {
                    "type": "string",
                    "description": "IPE, inline: a JSON-stringified array of structured query strings (HTTP calls, SQL, etc.) that produced this evidence. Provide either this or `ipe_file`, not both."
                  },
                  "ipe_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "IPE, as a file: a JSON file holding an array of query strings, for very large lists. Provide either this or `evidence_api_query`, not both."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IPE was attached successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_AttachIpeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "No evidence instance found for the given evidence_instance_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence_ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error. Possible causes and body shapes:\n- **No IPE supplied** (neither `evidence_api_query` nor `ipe_file`): `DetailMessage` (`detail` string).\n- **IPE validation** (both sources supplied; malformed JSON; not an array of strings; more than 5000 entries; payload over 15 MB; non-UTF-8 file) **or the API-evidence-only guard** (target is not customer-pushed evidence): `ErrorResponse` (`error_title`/`error_detail`).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Evidence_DetailMessage"
                    },
                    {
                      "$ref": "#/components/schemas/Evidence_ErrorResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/evidence/v1/evidence/{evidence_instance_id}/raw": {
      "get": {
        "tags": [
          "Download Evidence"
        ],
        "summary": "Get Raw Data",
        "description": "Returns the raw data file of the requested evidence_instance_id.",
        "operationId": "getEvidenceRaw",
        "parameters": [
          {
            "name": "evidence_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The evidence instance identifier (from GET /evidence/v1/evidence)."
            },
            "description": "The evidence instance identifier (from GET /evidence/v1/evidence)."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw evidence file data (binary stream).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/identity/v1/apikey/exchange": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Exchange API key",
        "description": "Exchange an API key created in the Anecdotes platform for a short-lived JWT (valid for 1 hour).\n\n1. Create an API key in the Anecdotes platform under your project settings.\n2. Use the exchange endpoint with the key as `x-anecdotes-api-key` header.\n3. Use the result JWT token as `Authorization: Bearer <token>` header.",
        "operationId": "exchangeApiKey",
        "parameters": [
          {
            "name": "x-anecdotes-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Your Anecdotes API key (created in the platform under project settings)."
            },
            "description": "Your Anecdotes API key (created in the platform under project settings)."
          }
        ],
        "responses": {
          "200": {
            "description": "JWT token string (plain text). Valid for 1 hour. Use as `Authorization: Bearer <JWT>` on all other API calls.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is missing or invalid."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/policy/v1/customer-policies": {
      "get": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "List customer policies",
        "description": "Returns policies created for your organization (custom policies), including status, approval workflow settings, stakeholders, and scheduling metadata.",
        "operationId": "listPolicyCustomerPolicies",
        "responses": {
          "200": {
            "description": "Array of customer policy records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy_CustomerPolicy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          }
        }
      }
    },
    "/policy/v1/library-policies": {
      "get": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "List library policies",
        "description": "Returns out-of-the-box policy templates from the policy library that customers can adopt.",
        "operationId": "listPolicyLibraryPolicies",
        "responses": {
          "200": {
            "description": "Array of library policy template records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy_LibraryPolicy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          }
        }
      }
    },
    "/policy/v1/policies/delete-policies": {
      "put": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "Delete policies",
        "description": "Deletes one or more customer policies by id. Send a JSON array of `policy_id` strings (e.g. `policy_<numeric>`).",
        "operationId": "deletePolicies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy_DeletePoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion request processed successfully."
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error — invalid request body or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/policy/v1/policies/update-settings": {
      "put": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "Update policy settings (approval cycle)",
        "description": "Creates or updates an **approval cycle** for one or more policies: stakeholders (reviewers, approvers), notification `share_method`, and scheduling (`approval_frequency`, `start_from`, `approval_time`). Target policies are listed in `resource_ids`. Use `is_new_cycle` per product workflow when starting a new cycle versus updating the current one.",
        "operationId": "updatePolicySettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy_UpdatePolicySettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated policy records, including expanded stakeholder rows and server-assigned scheduling task ids when applicable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy_CustomerPolicy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error — invalid request body or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/policy/v1/policies/{policy_id}": {
      "patch": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "Replace policy file (evidence link)",
        "description": "Points the policy at a different **evidence** definition—typically after uploading a replacement document to manual (or other) evidence. Send `policy_related_evidence` with the target evidence id (e.g. `manual_<id>`).",
        "operationId": "patchPolicyRelatedEvidence",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer policy id (`policy_<numeric>`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy_PatchPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated policy record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy_CustomerPolicy"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "404": {
            "description": "Policy not found."
          },
          "422": {
            "description": "Validation error — invalid request body or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/policy/v2/policies": {
      "post": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "Create policies",
        "description": "Creates one or more policies from manual (or other) evidence definitions. The body is a **JSON array**; each element links an `evidence_id`, sets `policy_name`, and optionally maps `requirements_ids` (framework requirement ids as strings). Omit `requirements_ids` or send an empty array when no requirement mapping is needed.",
        "operationId": "createPolicies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Policy_CreatePoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policies created successfully. Returns an array of policy records in the same general shape as **List customer policies**; many fields are `null` or empty until setup is completed (e.g. `policy_status` may be `Setup Incomplete`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy_CustomerPolicy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          },
          "422": {
            "description": "Validation error — invalid request body or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/policy/v2/policies/{policy_id}/versions": {
      "get": {
        "tags": [
          "Policy Manager"
        ],
        "summary": "List policy versions",
        "description": "Returns version history for a policy when versions exist. Policies without versions may return an empty array.",
        "operationId": "listPolicyVersions",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Policy identifier (e.g. `policy_<id>` for customer policies)."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of policy version records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy_PolicyVersion"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — JWT is missing, invalid, or expired."
          }
        }
      }
    },
    "/risk/v1/risk": {
      "post": {
        "tags": [
          "Risk"
        ],
        "summary": "Create Risk",
        "description": "Create a new risk.",
        "operationId": "createRisk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Risk_NewRisk"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Risk_CustomerRiskModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/risk/v1/risk/full": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Get Risks",
        "description": "List of risks and its associated data.",
        "operationId": "getRisks",
        "parameters": [
          {
            "name": "risk_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Risk Ids",
              "description": "Optional comma-separated list of risk IDs to filter by."
            },
            "description": "Optional comma-separated list of risk IDs to filter by."
          },
          {
            "name": "exclude_review",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Exclude Review",
              "description": "When false, includes risks that have reviewer access from users with specific roles. Defaults to false.",
              "default": false
            },
            "description": "When false, includes risks that have reviewer access from users with specific roles. Defaults to false."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of risks to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of risks to skip (for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of risk objects with treatment plan data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Risk_CustomerFullRiskModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/risk/v1/risk/{risk_id}": {
      "get": {
        "tags": [
          "Risk"
        ],
        "summary": "Get Risk",
        "description": "Get a Risk by its ID.",
        "operationId": "getRisk",
        "parameters": [
          {
            "name": "risk_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the risk."
            },
            "description": "The unique identifier of the risk."
          }
        ],
        "responses": {
          "200": {
            "description": "Risk object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Risk_CustomerRiskModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Risk"
        ],
        "summary": "Update Risk",
        "description": "Update a specific risk.",
        "operationId": "updateRisk",
        "parameters": [
          {
            "name": "risk_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier of the risk to update."
            },
            "description": "The unique identifier of the risk to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Risk_CustomerUpdatedRiskModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated risk object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Risk_CustomerRiskModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - JWT is missing, invalid, or expired. Exchange a new API key for a fresh JWT."
          },
          "422": {
            "description": "Validation Error - The request body or parameters failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountScopingType": {
        "type": "string",
        "enum": [
          "all_accounts",
          "included_accounts",
          "excluded_accounts"
        ],
        "title": "AccountScopingType",
        "description": "Determines which accounts the rule applies to."
      },
      "AnalysisRuleActiveState": {
        "type": "string",
        "enum": [
          "active",
          "inactive"
        ],
        "title": "AnalysisRuleActiveState",
        "description": "Whether the analysis rule is active or inactive."
      },
      "AnalysisRuleAlertLevel": {
        "type": "integer",
        "enum": [
          3,
          5,
          10,
          30,
          50
        ],
        "title": "AnalysisRuleAlertLevel",
        "description": "The alert level of the analysis rule. Values: 3 (Not Processed), 5 (No Active Rules), 10 (OK), 30 (Warning), 50 (Gap)."
      },
      "AnalysisRuleModel": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "string",
            "title": "Rule Id",
            "description": "Unique identifier for the analysis rule."
          },
          "evidence_id": {
            "type": "string",
            "title": "Evidence Id",
            "description": "The evidence ID this rule is tied to."
          },
          "library_rule_id": {
            "type": "string",
            "title": "Library Rule Id",
            "description": "Library rule ID if cloned from a library rule."
          },
          "rule_query_type": {
            "$ref": "#/components/schemas/AnalysisRuleQueryType"
          },
          "rule_query_str": {
            "type": "string",
            "title": "Rule Query Str",
            "description": "The rule query string."
          },
          "rule_query_message": {
            "type": "string",
            "title": "Rule Query Message",
            "description": "Optional message associated with the rule query."
          },
          "rule_name": {
            "type": "string",
            "title": "Rule Name",
            "description": "Human-readable name of the rule."
          },
          "rule_message": {
            "type": "string",
            "title": "Rule Message",
            "description": "Message displayed when the rule triggers."
          },
          "alert_level": {
            "$ref": "#/components/schemas/AnalysisRuleAlertLevel"
          },
          "rule_origin": {
            "$ref": "#/components/schemas/AnalysisRuleOrigin"
          },
          "rule_state": {
            "$ref": "#/components/schemas/AnalysisRuleActiveState"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "title": "Last Updated",
            "description": "Timestamp of the last update."
          },
          "last_updated_by": {
            "type": "string",
            "title": "Last Updated By",
            "description": "User who last updated the rule."
          },
          "rule_is_archived": {
            "type": "boolean",
            "title": "Rule Is Archived",
            "description": "Whether the rule is archived."
          },
          "rule_type": {
            "$ref": "#/components/schemas/AnalysisRuleType"
          },
          "account_scoping_type": {
            "$ref": "#/components/schemas/AccountScopingType"
          },
          "account_scoping_list": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Account Scoping List",
            "description": "Service instance IDs the rule applies to (when scoping type is INCLUDED or EXCLUDED)."
          }
        },
        "required": [
          "rule_id",
          "evidence_id",
          "rule_query_type",
          "rule_query_str",
          "rule_name",
          "rule_message",
          "alert_level",
          "rule_origin",
          "rule_state",
          "last_updated",
          "last_updated_by",
          "rule_is_archived",
          "account_scoping_type"
        ],
        "title": "AnalysisRuleModel"
      },
      "AnalysisRuleOrigin": {
        "type": "string",
        "enum": [
          "library",
          "custom"
        ],
        "title": "AnalysisRuleOrigin",
        "description": "Whether the rule originates from the library or is custom."
      },
      "AnalysisRuleQueryType": {
        "type": "string",
        "enum": [
          "aql",
          "aqlext",
          "pandas"
        ],
        "title": "AnalysisRuleQueryType",
        "description": "The type of query engine used by the analysis rule."
      },
      "AnalysisRuleResultModel": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "string",
            "title": "Rule Id",
            "description": "The analysis rule id."
          },
          "evidence_id": {
            "type": "string",
            "title": "Evidence Id",
            "description": "The evidence id."
          },
          "parent_evidence_id": {
            "type": "string",
            "title": "Parent Evidence Id",
            "description": "The parent evidence id (useful for mapping views to parent evidence)."
          },
          "evidence_instance_id": {
            "type": "string",
            "title": "Evidence Instance Id",
            "description": "Evidence instance id."
          },
          "service_instance_id": {
            "type": "string",
            "title": "Service Instance Id",
[...]
